<html>
<head>
<title>activity_forecast.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #606366; font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
.s4 { color: rgb(128,128,128); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_forecast.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<a name="l1"><span class="ln">1    </span></a><span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
<a name="l2"><span class="ln">2    </span></a></span><span class="s4">&lt;!-- 
<a name="l3"><span class="ln">3    </span></a>     Copyright (C) 2016 The Android Open Source Project 
<a name="l4"><span class="ln">4    </span></a> 
<a name="l5"><span class="ln">5    </span></a>     Licensed under the Apache License, Version 2.0 (the &quot;License&quot;); 
<a name="l6"><span class="ln">6    </span></a>     you may not use this file except in compliance with the License. 
<a name="l7"><span class="ln">7    </span></a>     You may obtain a copy of the License at 
<a name="l8"><span class="ln">8    </span></a> 
<a name="l9"><span class="ln">9    </span></a>          http://www.apache.org/licenses/LICENSE-2.0 
<a name="l10"><span class="ln">10   </span></a> 
<a name="l11"><span class="ln">11   </span></a>     Unless required by applicable law or agreed to in writing, software 
<a name="l12"><span class="ln">12   </span></a>     distributed under the License is distributed on an &quot;AS IS&quot; BASIS, 
<a name="l13"><span class="ln">13   </span></a>     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
<a name="l14"><span class="ln">14   </span></a>     See the License for the specific language governing permissions and 
<a name="l15"><span class="ln">15   </span></a>     limitations under the License. 
<a name="l16"><span class="ln">16   </span></a>--&gt;</span><span class="s3"> 
<a name="l17"><span class="ln">17   </span></a></span><span class="s0">&lt;FrameLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
<a name="l18"><span class="ln">18   </span></a>    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
<a name="l19"><span class="ln">19   </span></a>    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span><span class="s3"> 
<a name="l20"><span class="ln">20   </span></a> 
<a name="l21"><span class="ln">21   </span></a>    </span><span class="s0">&lt;ScrollView 
<a name="l22"><span class="ln">22   </span></a>        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
<a name="l23"><span class="ln">23   </span></a>        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0">&gt;</span><span class="s3"> 
<a name="l24"><span class="ln">24   </span></a> 
<a name="l25"><span class="ln">25   </span></a>        </span><span class="s0">&lt;TextView 
<a name="l26"><span class="ln">26   </span></a>            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/tv_weather_data&quot;</span><span class="s0"> 
<a name="l27"><span class="ln">27   </span></a>            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
<a name="l28"><span class="ln">28   </span></a>            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
<a name="l29"><span class="ln">29   </span></a>            </span><span class="s1">android:padding=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
<a name="l30"><span class="ln">30   </span></a>            </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
<a name="l31"><span class="ln">31   </span></a>    </span><span class="s0">&lt;/ScrollView&gt;</span><span class="s3"> 
<a name="l32"><span class="ln">32   </span></a> 
<a name="l33"><span class="ln">33   </span></a>    </span><span class="s4">&lt;!--COMPLETED (2) Add a TextView that you will show the user if there is an error loading content--&gt;</span><span class="s3"> 
<a name="l34"><span class="ln">34   </span></a>    </span><span class="s4">&lt;!--COMPLETED (3) Make the width and the height wrap_content--&gt;</span><span class="s3"> 
<a name="l35"><span class="ln">35   </span></a>    </span><span class="s4">&lt;!--COMPLETED (4) Give the TextView a default error message stating that an error occurred (use strings.xml)--&gt;</span><span class="s3"> 
<a name="l36"><span class="ln">36   </span></a>    </span><span class="s4">&lt;!--COMPLETED (5) Set the default visibility of the TextView to invisible--&gt;</span><span class="s3"> 
<a name="l37"><span class="ln">37   </span></a>    </span><span class="s0">&lt;TextView 
<a name="l38"><span class="ln">38   </span></a>        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/tv_error_message_display&quot;</span><span class="s0"> 
<a name="l39"><span class="ln">39   </span></a>        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
<a name="l40"><span class="ln">40   </span></a>        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
<a name="l41"><span class="ln">41   </span></a>        </span><span class="s1">android:padding=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
<a name="l42"><span class="ln">42   </span></a>        </span><span class="s1">android:text=</span><span class="s2">&quot;@string/error_message&quot;</span><span class="s0"> 
<a name="l43"><span class="ln">43   </span></a>        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
<a name="l44"><span class="ln">44   </span></a>        </span><span class="s1">android:visibility=</span><span class="s2">&quot;invisible&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
<a name="l45"><span class="ln">45   </span></a> 
<a name="l46"><span class="ln">46   </span></a>    </span><span class="s4">&lt;!--COMPLETED (12) Add a ProgressBar to show the user content is loading--&gt;</span><span class="s3"> 
<a name="l47"><span class="ln">47   </span></a>    </span><span class="s4">&lt;!--COMPLETED (13) Make the width and height of the ProgressBar 42dp--&gt;</span><span class="s3"> 
<a name="l48"><span class="ln">48   </span></a>    </span><span class="s4">&lt;!--COMPLETED (14) Set the layout_gravity of the ProgressBar to center--&gt;</span><span class="s3"> 
<a name="l49"><span class="ln">49   </span></a>    </span><span class="s4">&lt;!--COMPLETED (15) Set the default visibility of the ProgressBar to invisible--&gt;</span><span class="s3"> 
<a name="l50"><span class="ln">50   </span></a>    </span><span class="s0">&lt;ProgressBar 
<a name="l51"><span class="ln">51   </span></a>        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/pb_loading_indicator&quot;</span><span class="s0"> 
<a name="l52"><span class="ln">52   </span></a>        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;42dp&quot;</span><span class="s0"> 
<a name="l53"><span class="ln">53   </span></a>        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;42dp&quot;</span><span class="s0"> 
<a name="l54"><span class="ln">54   </span></a>        </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
<a name="l55"><span class="ln">55   </span></a>        </span><span class="s1">android:visibility=</span><span class="s2">&quot;invisible&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
<a name="l56"><span class="ln">56   </span></a> 
<a name="l57"><span class="ln">57   </span></a></span><span class="s0">&lt;/FrameLayout&gt;</span><span class="s3"> 
<a name="l58"><span class="ln">58   </span></a></span></pre>
</body>
</html>